<!--<div class="container"></div>  <div>
  <img  alt="Angular Logo" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
</div>-->

<nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd; ">

 
<ul class="nav justify-content-center">
  <li class="nav-item">
    <h4><a class="nav-link active" routerLink="/Login">Login</a></h4>
  </li>
  <li class="nav-item">
   <h4> <a class="nav-link" routerLink="/Reg">Registration</a></h4>
  </li>
  <li class="nav-item">
    <h4><a class="nav-link" routerLink="/Logout">Loguot</a></h4>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
</nav>
<div class="text" style="text-align:center">
  <h1>
    Welcome to {{ title }} forms!
  </h1>
 
</div>

<input [formControl]="nameControl">
<fieldset [formGroup]= "fullNameControl">
  <input formControlName="firstName" >
  <input formControlName="secondName">
</fieldset>
<form [formGroup]= "userListControl">
  <ul formArrayName="users">
    <li *ngFor="let userControl of userListControl.controls.user.controls; let i=index">
      <input formControlName="{{i}}">
      <button (click) ="removeUserControl(i)">delete</button>
    </li>
  </ul>
</form>
<button (click)="addUserControl(i)">add </button>
<router-outlet></router-outlet>
